#content {
  background-color: #e37888;
  width: 100%;
  height: 700px;
  text-align: center;
  padding: 10px;
}

#h1 {
  font-size: 70px;
  margin: 50px 0 10px;

}

#h2 {
  font-size: 35px;
  margin: 10px 0 10px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

#button {
  background-color: #5c6a5d;
  border: none;
  color: #c1c6e1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#h2:after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca{
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#menu {
    text-align: center;
    background-color: rgb(37, 37, 39);
}
#menu ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}
#menu ul li {
    display: inline;
}
#menu ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}
#menu ul li a:hover {
    background-color: rgb(24, 139, 233);
}
